.RecordBox
  .Info
    .Info__userName
      =link_to records_path(main_record.user.id) do
        -#= icon("fas","user", class: 'Info__userName__icon')
      = main_record.user.name
    .Info__date
      = main_record.created_at.strftime("%Y/%m/%d %H:%M")
  
  - if main_record.text.present?
    %p.RecordBox__text
      = main_record.text
  - if main_record.image.present?
    %p.RecordBox__image
      = image_tag main_record.image.url
  .More
    .Fix
      - if user_signed_in? && current_user.id == main_record.user_id
        = link_to record_path(main_record.id), method: :delete do
          = icon("far","trash-alt", class: 'Fix__icon')
        = link_to edit_record_path(main_record.id), method: :get do
          = icon("far","edit", class: 'Fix__icon')
    .Action
      = icon("far","comment", class: 'Action__icon')
    .Favorite
      %div(id="main-btn-#{main_record.id}")
      = render "likes/like", record: main_record