.UserRecordBox
  .Info
    .Info__date
      = user_record.created_at.strftime("%Y/%m/%d %H:%M")
  
  - if user_record.text.present?
    %p.RecordBox__text
      = user_record.text
  - if user_record.image.present?
    %p.RecordBox__image
      = image_tag user_record.image.url
  .More
    .Fix
      - if user_signed_in? && current_user.id == user_record.user_id
        = link_to record_path(user_record.id), method: :delete do
          = icon("far","trash-alt", class: 'Fix__icon')
        = link_to edit_record_path(user_record.id), method: :get do
          = icon("far","edit", class: 'Fix__icon')