.Wrapper
  = render "header"
.RecordContainer
  = render "records"
  .EditRecord
    .RecordForm
      = form_with model: @record, html: {class: "Form"}, local: true do |f|
        .Form__content
          %h3 
        = f.text_area :text, class: "Form__inputText"
        = f.label :image, class: 'Form__inputImage' do
          %br
          .Form__btn
            = icon('fas', 'camera', class: 'Form__btn__icon')
            = f.file_field :image, class: 'Form__btn__inputImage'
            = f.submit "編集", class: "Form__btn__send"