.Wrapper
  = render "weights/header"
.Container
  = render "records"
  .EditRecord
    .RecordForm
      編集する
      = form_with model: @record, html: {class: "Form"}, local: true do |f|
        = f.text_area :text, placeholder: "text", rows: "5"
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Form__inputImage__file'
        %br
        = f.submit "SEND"
    
    
      