.SideBer
  .WeightForm
    .Today
      .Content
        今日の体重は
      .NewWeight
        = form_with model: @weight, html: {class: "Form"}, local: true do |f|
          .InputBox
            = f.number_field :kg, step: "0.1", class: "InputBox__number"
            kg
            %br
            = f.submit "送信", class: "InputBox__submit-btn"
    
    
  .Bmi
    .Icon
    = link_to "#" do
      = icon('fas', 'weight', class: "Icon__btn-icon" )
    .Content
      BMIを測る    